header {
    color: #1e293b;
    text-align: center;
}

footer {
    color: #64748b;
    position: fixed;
    bottom: 2px;
}

body{
    background-color: #60a5fa;
}

button{
    background-color: #fde68a;
    height: 100px;
    width: 100px;
    border: 1px solid #facc15;
    border-radius: 10px;
}

table{
    background-color: #93c5fd;
    position: fixed;
    top: 125px;
    left: 450px;
}

button:active{
    transform: scale(0.9);
}